# Restaurant data
**/restaurant_data

# Misk
**/__pycache__

# Transformers Model tokenizer
**/review_emb-msmarco-distilbert-base-v3-v1

# Index created by faiss
*.index

# some vscode settings I have
.vscode